<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Product</title>
</head>
<body>
<table>
    <tr>
        <th>NAME</th>
        <th>PRICE</th>
        <th>DESCRIPTION</th>
    </tr>
    <tr th:each="product: ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td>
        <a th:href="@{/editProduct?id={id}(id=${product.id})}">Edit</a>
        <a th:href="@{/deleteProduct?id={id}(id=${product.id})}">Delete</a>
        </td>

    </tr>

</table>
<a href="addProduct">Create User</a>
</body>
</html>