<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager user</title>
</head>
<body>
<h1>User manager</h1>
<table>
    <tr>
    <th>name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>CRUD</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phone}"></td>
        <td>
<!--
            <a th:href="@{/edit?id={id}(id=${user.id})}">Edit</a>
-->
            <a th:href="@{/edit?id={id}(id=${user.id})}">Edit</a>
            <a th:href="@{/delete?id={id}(id=${user.id})}">Delete</a>


        </td>
    </tr>
</table>

<a href="/add">Create User</a>
</body>
</html>